{% extends './base.html' %}
{% load static %}

{% block sub-menu %}

{% endblock %}

{% block body_content %}
  {% if content_list %}
    {% for content in content_list %}
      <h5 class="mf-content-header">{{ content.title }}</h5>
      <p class="mf-content">{{ content.text }}</p>
      {% if content.image %}
        <img class="img-fluid mx-auto d-block" src="{% static 'website/'|add:content.image %}" alt="img not found">
      {% endif %}
      <hr>
    {% endfor %}
  {% else %}

  {% endif %}
{% endblock %}
