<!DOCTYPE html>
<html lang="en-us">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ page_title }}{% endblock %}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css"
      href="{% static '/website/styles/base.css' %}">
  <link rel="stylesheet" type="text/css"
      href="{% static '/website/styles/'|add:page_style %}"
</head>

<body>
  <!--
  {% block banner %}
    <div class="jumbotron text-center" style="margin-bottom:0; padding-top:32px; padding-bottom:32px;">
      <h1 class="display-1">banner</h1>
      <h3 class="display-5" style="margin-bottom:0;"><small>placeholder</small></h3>
    </div>
  {% endblock %}
  -->
  <nav class="navbar navbar-expand-sm sticky-top mf-navbar">
    <a class="navbar-brand" href="{% url 'website:home' %}">
      <i class="fa fa-home"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#collapsibleNavbar">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        {% block nav %}
          {% for option in nav_options %}
            <li class="nav-item mf-nav-item {% if page_title == option.name %}active{% endif %}">
              <a class="nav-link" href="{{ option.path }}">{{ option.name }}</a>
            </li>
          {% endfor %}
        {% endblock %}
      </ul>
    </div>
  </nav>
  {% if menu_options %}
    <nav class="navbar navbar-expand mf-sub-menu d-none d-sm-block">
      <ul class="navbar-nav">
        {% for option in menu_options %}
          <li class="nav-item mf-sub-menu-item">
            <a class="nav-link" href="#">{{ option.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    <div class="mf-hr"></div>
  {% endif %}

  <div class="container mf-container" style="margin-top:30px">
    <div class="row">
      <div class="col mf-col">
        {% block body_content %}
          <h5 class="mf-content-header">Content</h5>
          <p class="mf-content">{% lorem  %}</p>
        {% endblock %}
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand fixed-bottom mf-footer">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mf-footer-nav-item mx-auto">
        <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item mf-footer-nav-item mx-auto">
        <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item mf-footer-nav-item mx-auto">
        <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
      </li>
      <li class="nav-item mf-footer-nav-item mx-auto">
        <a class="nav-link" href="#"><i class="fa fa-youtube"></i></a>
      </li>
      <li class="nav-item mf-footer-nav-item mx-auto">
        <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
      </li>
      <li class="nav-item mf-footer-nav-item mx-auto">
        <a class="nav-link" href="http://malachifrancis.bandcamp.com">
          <i class="fa fa-music"></i>
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>
