.mf-nav-item.active > a {
  color: white;
  background-color: #2C565D;
  font-weight: bold;
  text-shadow: 0 0.05em 1.3em black;
}

.mf-sub-menu {
  padding: 0 1em 0 1em;
  background-color: #2C565D;
  height: 2.5em;
}

.mf-sub-menu-item > a {
  color: #dcdcdd;
  background-color: #2C565D;
  text-shadow: 0 0.05em 1.3em black;
}

.mf-content-header {
  background-image: linear-gradient(to right, #3E9099, #F8F4F7);
}

.mf-footer-nav-item > a:hover {
  color: #83A993;
  text-shadow: 0 0 1em;
}

.mf-sub-menu-item > a:hover {
  background-color: #2C565D;
  color: white;
  text-shadow: 0 0 1em;
}

.mf-hr {
  background-color: #2C565D;
  height: .15em;
}

/*
  #dcdcdd light gray text
  #46494c dark gray  text
  off white bg #F8F4F7;
*/

/*
  dk blue   #1B282B;
  md blue   #2C565D;
  lt blue   #83A993;
  off wht   #D6C882;
  dk orng   #CD8B50;
*/
