/* PAGE UTILITY */
.mf-col {
  padding: 0;
}

/* NAVIGATION and MENUS */
button.navbar-toggler {
  color: #dcdcdd;
}

.mf-footer {
  background-color: #1B282B;
  color: #dcdcdd;
  padding-top: 0;
  padding-bottom: 0;
}

.mf-navbar {
  background-color: #1B282B;
  color: #dcdcdd;
  padding-top: 0;
  padding-bottom: 0;
}

.mf-navbar > a {
  color: #dcdcdd;
}

.mf-nav-item > a {
  color: #dcdcdd;
}

.mf-nav-item > a:hover {
  text-shadow: 0 0 1em;
}

.mf-footer-nav-item > a {
  color: #dcdcdd;
}

.mf-footer-nav-item > a:hover {
  color: #2C565D;
  text-shadow: 0 0 1em;
}

.mf-nav-item.active > a {
  color: white;
  background-color: #2C565D;
  font-weight: bold;
  text-shadow: 0 0.05em 1.3em black;
}

.mf-sub-menu {
  padding: 0 1em 0 1em;
  background-color: #2C565D;
  height: 2.5em;
  transition: visibility 1s linear;
}

.mf-sub-menu-item > a {
  color: #4c5c68;
  background-color: #2C565D;
  text-shadow: 0 0.05em 1.3em white;
}

.mf-sub-menu-item > a:hover {
  background-color: #2C565D;
  color: white;
  text-shadow: 0 0 1em;
}

/* CONTENT BODY */
body {
  background-color: #F8F4F7;
}
.mf-container {
  background-color: #F8F4F7;
}

.mf-content {
  color: #46494c;
  padding: 0 1em 0 1em;
  text-align: justify;
}

.mf-content-header {
  padding: .25em .5em .4em .5em;
  color: white;
}

/*
  #dcdcdd light gray text
  #46494c dark gray  text
  off white bg #F8F4F7;
*/

/*
  dk blue   #1B282B;
  md blue   #2C565D;
  lt blue   #83A993;
  off wht   #D6C882;
  dk orng   #CD8B50;
*/
