@import 'variables.scss';

.mf-content-header {
  color: $light_text;
  background-image: linear-gradient(to right, $medium_blue, $dark_blue);
}

.mf-nav-item.active > a {
  color: white;
  background-color: $medium_blue;
  font-weight: bold;
  text-shadow: 0 0.05em 1.3em black;
}
