.mf-nav-item.active > a {
  color: #1B282B;
  background-color: #83A993;
  font-weight: bold;
  text-shadow: 0 0.05em 1.3em white;
}

.mf-sub-menu {
  padding: 0 1em 0 1em;
  background-color: #83A993;
  height: 2.5em;
}

.mf-sub-menu-item > a {
  color: #1B282B;
  background-color: #83A993;
  text-shadow: 0 0.05em 1.3em white;
}

.mf-content-header {
  background-image: linear-gradient(to right, #83A993, #1B282B);
}

body {
  background-color: #1B282B;
}

.mf-container {
  background-color: #1B282B;
}

.mf-content {
  color: #F8F4F7;
}

.mf-footer {
  background-color: #83A993;
  color: #1B282B;
}

.mf-footer-nav-item > a {
  color: #1B282B;
}

.mf-footer-nav-item > a:hover {
  color: white;
  text-shadow: 0 0 1em;
}

.mf-nav-item > a:hover {
  color: white;
  text-shadow: 0 0 1em;
}

.mf-sub-menu-item > a:hover {
  background-color: #83A993;
  color: white;
  text-shadow: 0 0 1em;
}

.mf-hr {
  background-color: #83A993;
  height: .15em;
}

/*
  #dcdcdd light gray text
  #46494c dark gray  text
  off white bg #F8F4F7;
*/

/*
  dk blue   #1B282B;
  md blue   #2C565D;
  lt blue   #83A993;
  off wht   #D6C882;
  dk orng   #CD8B50;
*/
