// COLOR VARS
$dark_blue: #1b282b;
$medium_blue: #2c565d;
$light_blue: #83a993;
$dark_orange: #cd8b50;
$light_orange: #d6c882;
$off_white: #f8f4f7;

// TEXT VARS
$dark_text: #46494c;
$light_text: #dcdcdd;
